In [2]:
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt
import json
import time
import scipy.stats as stats

first_data_file = "./all_data_df.csv"
demographics_file = "../Final Project/Risk Indicators/ACS_16_5YR_B02001_with_ann.csv"
diabetes_file = "../Final Project/Risk Indicators/Diabetes_Incidence_2015.csv"
smokers_file = "../Final Project/Risk Indicators/IHME_US_COUNTY_TOTAL_AND_DAILY_SMOKING_PREVALENCE_1996_2012.csv"
fatty_file = "../Final Project/Risk Indicators/IHME_USA_OBESITY_PHYSICAL_ACTIVITY_2001_2011.csv"

In [3]:
first_data_file_df = pd.read_csv(first_data_file, encoding='cp1252')
demographics_df = pd.read_csv(demographics_file, encoding='cp1252')
diabetes_df = pd.read_csv(diabetes_file, encoding='cp1252')
smokers_df = pd.read_csv(smokers_file, encoding='cp1252')
fatty_df = pd.read_csv(fatty_file, encoding='cp1252')

In [3]:
first_data_file_df.head(10)

,County Code,County,Population,Deaths,Crude Rate,Median Household Income ($),% <High School,% High School,% Associate,% >Bachelor,MYS,Education Level,Income Level
0,1001,"Autauga County, AL",144568.0,188.0,130.0,53748,12.4,34.3,28.7,24.6,14.294,7.0,8.0
1,1003,"Baldwin County, AL",514161.0,581.0,113.0,50976,10.0,28.7,31.8,29.5,14.796,9.0,8.0
2,1005,"Barbour County, AL",71488.0,118.0,165.1,32111,26.2,34.9,26.0,12.9,13.028,2.0,1.0
3,1007,"Bibb County, AL",62810.0,123.0,195.8,40113,19.3,41.8,26.9,12.0,13.112,2.0,3.0
4,1009,"Blount County, AL",148438.0,194.0,130.7,46377,20.0,32.9,34.0,13.1,13.328,3.0,6.0
5,1011,"Bullock County, AL",28974.0,45.0,155.3,28180,33.4,34.1,22.2,10.3,12.600,1.0,1.0
6,1013,"Butler County, AL",50897.0,135.0,265.2,32687,18.9,39.9,25.1,16.1,13.412,3.0,1.0
7,1015,"Calhoun County, AL",301458.0,667.0,221.3,40420,17.7,32.1,32.6,17.7,13.726,5.0,4.0
8,1017,"Chambers County, AL",88018.0,165.0,187.5,35082,19.7,39.4,28.4,12.5,13.174,2.0,2.0
9,1019,"Cherokee County, AL",66787.0,132.0,197.6,38792,18.7,36.0,31.4,14.0,13.386,3.0,3.0

In [4]:
demographics_df.head(10)

,Id,Id2,Geography,Estimate; Total:,Estimate; Total: - White alone,Margin of Error; Total: - White alone,Estimate; Total: - Black or African American alone,Margin of Error; Total: - Black or African American alone,Estimate; Total: - American Indian and Alaska Native alone,Margin of Error; Total: - American Indian and Alaska Native alone,...,Estimate; Total: - Native Hawaiian and Other Pacific Islander alone,Margin of Error; Total: - Native Hawaiian and Other Pacific Islander alone,Estimate; Total: - Some other race alone,Margin of Error; Total: - Some other race alone,Estimate; Total: - Two or more races:,Margin of Error; Total: - Two or more races:,Estimate; Total: - Two or more races: - Two races including Some other race,Margin of Error; Total: - Two or more races: - Two races including Some other race,"Estimate; Total: - Two or more races: - Two races excluding Some other race, and three or more races","Margin of Error; Total: - Two or more races: - Two races excluding Some other race, and three or more races"
0,0500000US01001,1001,"Autauga County, Alabama",55049,42311,336,10196,260,226,75,...,31,33,764,381,1077,324,70,72,1007,320
1,0500000US01003,1003,"Baldwin County, Alabama",199510,172441,618,18594,635,1355,328,...,0,27,1766,587,4016,758,908,477,3108,692
2,0500000US01005,1005,"Barbour County, Alabama",26614,12430,202,12756,71,46,45,...,0,21,1099,203,154,67,6,10,148,67
3,0500000US01007,1007,"Bibb County, Alabama",22572,17370,15,4788,216,81,44,...,0,21,8,15,311,214,0,21,311,214
4,0500000US01009,1009,"Blount County, Alabama",57704,55073,284,905,97,201,104,...,0,27,501,254,932,196,28,27,904,189
5,0500000US01011,1011,"Bullock County, Alabama",10552,2301,17,7967,204,84,110,...,0,18,1,4,115,171,0,18,115,171
6,0500000US01013,1013,"Butler County, Alabama",20280,10876,87,8875,86,15,14,...,0,21,44,55,267,95,0,21,267,95
7,0500000US01015,1015,"Calhoun County, Alabama",115883,86777,448,23791,432,382,246,...,6,10,1221,422,2627,483,133,100,2494,451
8,0500000US01017,1017,"Chambers County, Alabama",34018,19417,83,13779,180,78,41,...,0,24,42,55,390,163,18,29,372,160
9,0500000US01019,1019,"Cherokee County, Alabama",25897,24156,49,1209,101,152,82,...,0,21,2,4,269,117,6,11,263,112

In [5]:
demographics_df.columns

Index(['Id', 'Id2', 'Geography', 'Estimate; Total:',
       'Estimate; Total: - White alone',
       'Margin of Error; Total: - White alone',
       'Estimate; Total: - Black or African American alone',
       'Margin of Error; Total: - Black or African American alone',
       'Estimate; Total: - American Indian and Alaska Native alone',
       'Margin of Error; Total: - American Indian and Alaska Native alone',
       'Estimate; Total: - Asian alone',
       'Margin of Error; Total: - Asian alone',
       'Estimate; Total: - Native Hawaiian and Other Pacific Islander alone',
       'Margin of Error; Total: - Native Hawaiian and Other Pacific Islander alone',
       'Estimate; Total: - Some other race alone',
       'Margin of Error; Total: - Some other race alone',
       'Estimate; Total: - Two or more races:',
       'Margin of Error; Total: - Two or more races:',
       'Estimate; Total: - Two or more races: - Two races including Some other race',
       'Margin of Error; Total: - Two or more races: - Two races including Some other race',
       'Estimate; Total: - Two or more races: - Two races excluding Some other race, and three or more races',
       'Margin of Error; Total: - Two or more races: - Two races excluding Some other race, and three or more races'],
      dtype='object')

In [6]:
demographics_df = demographics_df[demographics_df.columns.drop(list(demographics_df.filter(regex='Margin of Error')))]
demographics_df = demographics_df.drop(["Id", "Geography","Estimate; Total: - Two or more races: - Two races including Some other race", "Estimate; Total: - Two or more races: - Two races excluding Some other race, and three or more races"], axis=1)
demographics_df.rename(columns={'Id2': 'FIPS Code', 'Estimate; Total:': 'Population Total', "Estimate; Total: - White alone" : "White", "Estimate; Total: - Black or African American alone" : "Black", "Estimate; Total: - American Indian and Alaska Native alone" : "Native American", "Estimate; Total: - Asian alone" : "Asian", "Estimate; Total: - Native Hawaiian and Other Pacific Islander alone" : "Pacific Islander", "Estimate; Total: - Some other race alone" : "Other","Estimate; Total: - Two or more races:" : "Two or More Races"}, inplace=True)
demographics_df.head()

,FIPS Code,Population Total,White,Black,Native American,Asian,Pacific Islander,Other,Two or More Races
0,1001,55049,42311,10196,226,444,31,764,1077
1,1003,199510,172441,18594,1355,1338,0,1766,4016
2,1005,26614,12430,12756,46,129,0,1099,154
3,1007,22572,17370,4788,81,14,0,8,311
4,1009,57704,55073,905,201,92,0,501,932

In [7]:
demographics_df['White %'] = demographics_df.apply(lambda row: row['White'] / row['Population Total'], axis=1)
demographics_df['Black %'] = demographics_df.apply(lambda row: row['Black'] / row['Population Total'], axis=1)
demographics_df['Native American %'] = demographics_df.apply(lambda row: row['Native American'] / row['Population Total'], axis=1)
demographics_df['Asian %'] = demographics_df.apply(lambda row: row['Asian'] / row['Population Total'], axis=1)
demographics_df['Pacific Islander %'] = demographics_df.apply(lambda row: row['Pacific Islander'] / row['Population Total'], axis=1)
demographics_df['Other %'] = demographics_df.apply(lambda row: row['Other'] / row['Population Total'], axis=1)
demographics_df['Two or More Races %'] = demographics_df.apply(lambda row: row['Two or More Races'] / row['Population Total'], axis=1)

In [8]:
demographics_df.head()

,FIPS Code,Population Total,White,Black,Native American,Asian,Pacific Islander,Other,Two or More Races,White %,Black %,Native American %,Asian %,Pacific Islander %,Other %,Two or More Races %
0,1001,55049,42311,10196,226,444,31,764,1077,0.768606,0.185217,0.004105,0.008066,0.000563,0.013879,0.019564
1,1003,199510,172441,18594,1355,1338,0,1766,4016,0.864323,0.093198,0.006792,0.006706,0.000000,0.008852,0.020129
2,1005,26614,12430,12756,46,129,0,1099,154,0.467047,0.479297,0.001728,0.004847,0.000000,0.041294,0.005786
3,1007,22572,17370,4788,81,14,0,8,311,0.769537,0.212121,0.003589,0.000620,0.000000,0.000354,0.013778
4,1009,57704,55073,905,201,92,0,501,932,0.954405,0.015683,0.003483,0.001594,0.000000,0.008682,0.016151

In [9]:
demographics_df.columns
demographics_df = demographics_df[['FIPS Code', 'Population Total', 'White %', 'Black %', 'Native American %', 'Asian %', 'Pacific Islander %', 'Other %', 'Two or More Races %']]
demographics_df.head()

,FIPS Code,Population Total,White %,Black %,Native American %,Asian %,Pacific Islander %,Other %,Two or More Races %
0,1001,55049,0.768606,0.185217,0.004105,0.008066,0.000563,0.013879,0.019564
1,1003,199510,0.864323,0.093198,0.006792,0.006706,0.000000,0.008852,0.020129
2,1005,26614,0.467047,0.479297,0.001728,0.004847,0.000000,0.041294,0.005786
3,1007,22572,0.769537,0.212121,0.003589,0.000620,0.000000,0.000354,0.013778
4,1009,57704,0.954405,0.015683,0.003483,0.001594,0.000000,0.008682,0.016151

In [4]:
diabetes_df.head(10)

,Indicator,State,FIPS_code,County,Year,Age,Sex,Estimate_type,Estimate,Standard_error,Lowerlimit,Upperlimit
0,Diagnosed diabetes incidence,Alabama,1001,Autauga County,2015,Age-adjusted,Total,"Rate per 1,000",12.6,2.2,8.9,17.3
1,Diagnosed diabetes incidence,Alabama,1001,Autauga County,2015,Crude,Total,Number,458.0,72.0,334.0,612.0
2,Diagnosed diabetes incidence,Alabama,1001,Autauga County,2015,Crude,Total,"Rate per 1,000",13.2,2.2,9.3,18.0
3,Diagnosed diabetes incidence,Alabama,1003,Baldwin County,2015,Age-adjusted,Total,"Rate per 1,000",8.4,1.1,6.4,10.8
4,Diagnosed diabetes incidence,Alabama,1003,Baldwin County,2015,Crude,Total,Number,1281.0,163.0,983.0,1628.0
5,Diagnosed diabetes incidence,Alabama,1003,Baldwin County,2015,Crude,Total,"Rate per 1,000",9.3,1.2,7.1,11.9
6,Diagnosed diabetes incidence,Alabama,1005,Barbour County,2015,Age-adjusted,Total,"Rate per 1,000",16.0,2.5,11.3,21.3
7,Diagnosed diabetes incidence,Alabama,1005,Barbour County,2015,Crude,Total,Number,277.0,38.0,205.0,356.0
8,Diagnosed diabetes incidence,Alabama,1005,Barbour County,2015,Crude,Total,"Rate per 1,000",16.5,2.5,11.8,21.7
9,Diagnosed diabetes incidence,Alabama,1007,Bibb County,2015,Age-adjusted,Total,"Rate per 1,000",13.4,2.4,9.1,18.5

In [5]:
diabetes_df = diabetes_df[["FIPS_code", "Age", "Estimate_type", "Estimate"]]
diabetes_df.head()

   FIPS_code           Age   Estimate_type  Estimate
0       1001  Age-adjusted  Rate per 1,000      12.6
1       1001         Crude          Number     458.0
2       1001         Crude  Rate per 1,000      13.2
3       1003  Age-adjusted  Rate per 1,000       8.4
4       1003         Crude          Number    1281.0

In [8]:
diabetes_df = diabetes_df[diabetes_df["Age"] == "Crude"]
diabetes_df = diabetes_df[diabetes_df["Estimate_type"] == "Rate per 1,000"]
diabetes_df.head()

    FIPS_code    Age   Estimate_type  Estimate
2        1001  Crude  Rate per 1,000      13.2
5        1003  Crude  Rate per 1,000       9.3
8        1005  Crude  Rate per 1,000      16.5
11       1007  Crude  Rate per 1,000      13.7
14       1009  Crude  Rate per 1,000      12.6

In [26]:
smokers_df.head(10)

,state,county,sex,year,total_mean,total_lb,total_ub,daily_mean,daily_lb,daily_ub
0,National,NaN,Males,1996,27.27,26.90,27.69,22.40,22.07,22.83
1,National,NaN,Females,1996,22.25,21.94,22.64,18.19,17.93,18.61
2,National,NaN,Both,1996,24.71,24.38,25.12,20.26,19.96,20.68
3,National,NaN,Males,1997,27.11,26.82,27.45,21.91,21.66,22.25
4,National,NaN,Females,1997,22.19,21.94,22.52,17.96,17.75,18.30
5,National,NaN,Both,1997,24.61,24.33,24.94,19.90,19.67,20.24
6,National,NaN,Males,1998,26.95,26.70,27.25,21.43,21.21,21.74
7,National,NaN,Females,1998,22.14,21.91,22.43,17.72,17.53,18.02
8,National,NaN,Both,1998,24.50,24.27,24.79,19.54,19.34,19.85
9,National,NaN,Males,1999,26.97,26.72,27.25,21.05,20.83,21.36

In [27]:
fatty_df.head(10)

,fips,merged_fips,State,County,Sex,Outcome,Prevalence 2001 (%),Prevalence 2001 lower bound (%),Prevalence 2001 upper bound (%),Prevalence 2002 (%),...,Prevalence 2009 upper bound (%),Prevalence 2010 (%),Prevalence 2010 lower bound (%),Prevalence 2010 upper bound (%),Prevalence 2011 (%),Prevalence 2011 lower bound (%),Prevalence 2011 upper bound (%),Difference 2001 to 2009,Difference 2001 to 2009 lower bound,Difference 2001 to 2009 upper bound
0,1001.0,1001,Alabama,"Autauga, AL",Male,Any PA,76.72,71.45,80.94,77.30,...,80.81,76.37,71.06,80.87,76.05,70.21,81.02,0.01,-6.70,6.75
1,1001.0,1001,Alabama,"Autauga, AL",Female,Any PA,68.21,62.94,73.12,68.79,...,72.86,68.74,64.19,72.93,68.75,63.69,73.12,0.55,-6.32,6.91
2,1003.0,1003,Alabama,"Baldwin, AL",Male,Any PA,73.90,69.75,78.34,74.41,...,81.16,78.04,74.96,81.10,77.69,74.17,81.13,4.43,-0.88,9.39
3,1003.0,1003,Alabama,"Baldwin, AL",Female,Any PA,71.84,67.69,75.63,72.66,...,75.43,72.69,69.93,75.29,72.56,69.43,75.45,1.03,-3.59,6.10
4,1005.0,1005,Alabama,"Barbour, AL",Male,Any PA,65.61,59.40,71.07,66.21,...,71.81,66.23,60.61,71.73,65.75,59.24,72.07,1.05,-6.94,9.60
5,1005.0,1005,Alabama,"Barbour, AL",Female,Any PA,57.74,51.58,63.59,58.48,...,67.04,63.04,58.35,67.65,62.98,57.87,67.85,4.84,-3.10,11.89
6,1007.0,1007,Alabama,"Bibb, AL",Male,Any PA,65.62,58.69,71.47,66.81,...,71.21,65.39,59.27,71.10,64.67,57.70,70.83,0.53,-8.08,9.26
7,1007.0,1007,Alabama,"Bibb, AL",Female,Any PA,60.58,54.00,66.39,61.80,...,65.72,61.49,56.52,65.83,61.68,56.36,66.36,0.69,-6.80,8.48
8,1009.0,1009,Alabama,"Blount, AL",Male,Any PA,66.11,60.14,71.94,67.20,...,73.12,67.86,61.77,73.18,67.58,60.72,73.62,2.10,-5.76,10.39
9,1009.0,1009,Alabama,"Blount, AL",Female,Any PA,63.12,57.89,68.22,64.04,...,63.46,58.57,53.25,63.69,58.77,53.28,64.20,-4.52,-12.42,2.73