In [1]:
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt
import json
import time
import scipy.stats as stats

first_data_file = "../Corey & Andrew Project First Project/all_data_df.csv"
demographics_file = "../Final Project/Risk Indicators/ACS_16_5YR_B02001_with_ann.csv"
diabetes_file = "../Final Project/Risk Indicators/Diabetes_Incidence_2015.csv"
smokers_file = "../Final Project/Risk Indicators/IHME_US_COUNTY_TOTAL_AND_DAILY_SMOKING_PREVALENCE_1996_2012.csv"
fatty_file = "../Final Project/Risk Indicators/obesity_prevalence_2015.csv"

In [2]:
first_data_file_df = pd.read_csv(first_data_file, encoding='cp1252')
demographics_df = pd.read_csv(demographics_file, encoding='cp1252')
diabetes_df = pd.read_csv(diabetes_file, encoding='cp1252')
smokers_df = pd.read_csv(smokers_file, encoding='cp1252')
fatty_df = pd.read_csv(fatty_file, encoding='cp1252')

In [3]:
first_data_file_df.head(10)

,County Code,County,Population,Deaths,Crude Rate,Median Household Income ($),% <High School,% High School,% Associate,% >Bachelor,MYS,Education Level,Income Level
0,1001,"Autauga County, AL",144568.0,188.0,130.0,53748,12.4,34.3,28.7,24.6,14.294,7.0,8.0
1,1003,"Baldwin County, AL",514161.0,581.0,113.0,50976,10.0,28.7,31.8,29.5,14.796,9.0,8.0
2,1005,"Barbour County, AL",71488.0,118.0,165.1,32111,26.2,34.9,26.0,12.9,13.028,2.0,1.0
3,1007,"Bibb County, AL",62810.0,123.0,195.8,40113,19.3,41.8,26.9,12.0,13.112,2.0,3.0
4,1009,"Blount County, AL",148438.0,194.0,130.7,46377,20.0,32.9,34.0,13.1,13.328,3.0,6.0
5,1011,"Bullock County, AL",28974.0,45.0,155.3,28180,33.4,34.1,22.2,10.3,12.600,1.0,1.0
6,1013,"Butler County, AL",50897.0,135.0,265.2,32687,18.9,39.9,25.1,16.1,13.412,3.0,1.0
7,1015,"Calhoun County, AL",301458.0,667.0,221.3,40420,17.7,32.1,32.6,17.7,13.726,5.0,4.0
8,1017,"Chambers County, AL",88018.0,165.0,187.5,35082,19.7,39.4,28.4,12.5,13.174,2.0,2.0
9,1019,"Cherokee County, AL",66787.0,132.0,197.6,38792,18.7,36.0,31.4,14.0,13.386,3.0,3.0

In [4]:
demographics_df.head(10)

,Id,Id2,Geography,Estimate; Total:,Estimate; Total: - White alone,Margin of Error; Total: - White alone,Estimate; Total: - Black or African American alone,Margin of Error; Total: - Black or African American alone,Estimate; Total: - American Indian and Alaska Native alone,Margin of Error; Total: - American Indian and Alaska Native alone,...,Estimate; Total: - Native Hawaiian and Other Pacific Islander alone,Margin of Error; Total: - Native Hawaiian and Other Pacific Islander alone,Estimate; Total: - Some other race alone,Margin of Error; Total: - Some other race alone,Estimate; Total: - Two or more races:,Margin of Error; Total: - Two or more races:,Estimate; Total: - Two or more races: - Two races including Some other race,Margin of Error; Total: - Two or more races: - Two races including Some other race,"Estimate; Total: - Two or more races: - Two races excluding Some other race, and three or more races","Margin of Error; Total: - Two or more races: - Two races excluding Some other race, and three or more races"
0,0500000US01001,1001,"Autauga County, Alabama",55049,42311,336,10196,260,226,75,...,31,33,764,381,1077,324,70,72,1007,320
1,0500000US01003,1003,"Baldwin County, Alabama",199510,172441,618,18594,635,1355,328,...,0,27,1766,587,4016,758,908,477,3108,692
2,0500000US01005,1005,"Barbour County, Alabama",26614,12430,202,12756,71,46,45,...,0,21,1099,203,154,67,6,10,148,67
3,0500000US01007,1007,"Bibb County, Alabama",22572,17370,15,4788,216,81,44,...,0,21,8,15,311,214,0,21,311,214
4,0500000US01009,1009,"Blount County, Alabama",57704,55073,284,905,97,201,104,...,0,27,501,254,932,196,28,27,904,189
5,0500000US01011,1011,"Bullock County, Alabama",10552,2301,17,7967,204,84,110,...,0,18,1,4,115,171,0,18,115,171
6,0500000US01013,1013,"Butler County, Alabama",20280,10876,87,8875,86,15,14,...,0,21,44,55,267,95,0,21,267,95
7,0500000US01015,1015,"Calhoun County, Alabama",115883,86777,448,23791,432,382,246,...,6,10,1221,422,2627,483,133,100,2494,451
8,0500000US01017,1017,"Chambers County, Alabama",34018,19417,83,13779,180,78,41,...,0,24,42,55,390,163,18,29,372,160
9,0500000US01019,1019,"Cherokee County, Alabama",25897,24156,49,1209,101,152,82,...,0,21,2,4,269,117,6,11,263,112

In [5]:
demographics_df.columns

Index(['Id', 'Id2', 'Geography', 'Estimate; Total:',
       'Estimate; Total: - White alone',
       'Margin of Error; Total: - White alone',
       'Estimate; Total: - Black or African American alone',
       'Margin of Error; Total: - Black or African American alone',
       'Estimate; Total: - American Indian and Alaska Native alone',
       'Margin of Error; Total: - American Indian and Alaska Native alone',
       'Estimate; Total: - Asian alone',
       'Margin of Error; Total: - Asian alone',
       'Estimate; Total: - Native Hawaiian and Other Pacific Islander alone',
       'Margin of Error; Total: - Native Hawaiian and Other Pacific Islander alone',
       'Estimate; Total: - Some other race alone',
       'Margin of Error; Total: - Some other race alone',
       'Estimate; Total: - Two or more races:',
       'Margin of Error; Total: - Two or more races:',
       'Estimate; Total: - Two or more races: - Two races including Some other race',
       'Margin of Error; Total: - Two or more races: - Two races including Some other race',
       'Estimate; Total: - Two or more races: - Two races excluding Some other race, and three or more races',
       'Margin of Error; Total: - Two or more races: - Two races excluding Some other race, and three or more races'],
      dtype='object')

In [6]:
demographics_df = demographics_df[demographics_df.columns.drop(list(demographics_df.filter(regex='Margin of Error')))]
demographics_df = demographics_df.drop(["Id", "Geography","Estimate; Total: - Two or more races: - Two races including Some other race", "Estimate; Total: - Two or more races: - Two races excluding Some other race, and three or more races"], axis=1)
demographics_df.rename(columns={'Id2': 'FIPS Code', 'Estimate; Total:': 'Population Total', "Estimate; Total: - White alone" : "White", "Estimate; Total: - Black or African American alone" : "Black", "Estimate; Total: - American Indian and Alaska Native alone" : "Native American", "Estimate; Total: - Asian alone" : "Asian", "Estimate; Total: - Native Hawaiian and Other Pacific Islander alone" : "Pacific Islander", "Estimate; Total: - Some other race alone" : "Other","Estimate; Total: - Two or more races:" : "Two or More Races"}, inplace=True)
demographics_df.head()

,FIPS Code,Population Total,White,Black,Native American,Asian,Pacific Islander,Other,Two or More Races
0,1001,55049,42311,10196,226,444,31,764,1077
1,1003,199510,172441,18594,1355,1338,0,1766,4016
2,1005,26614,12430,12756,46,129,0,1099,154
3,1007,22572,17370,4788,81,14,0,8,311
4,1009,57704,55073,905,201,92,0,501,932

In [7]:
demographics_df['White %'] = demographics_df.apply(lambda row: row['White'] / row['Population Total'], axis=1)
demographics_df['Black %'] = demographics_df.apply(lambda row: row['Black'] / row['Population Total'], axis=1)
demographics_df['Native American %'] = demographics_df.apply(lambda row: row['Native American'] / row['Population Total'], axis=1)
demographics_df['Asian %'] = demographics_df.apply(lambda row: row['Asian'] / row['Population Total'], axis=1)
demographics_df['Pacific Islander %'] = demographics_df.apply(lambda row: row['Pacific Islander'] / row['Population Total'], axis=1)
demographics_df['Other %'] = demographics_df.apply(lambda row: row['Other'] / row['Population Total'], axis=1)
demographics_df['Two or More Races %'] = demographics_df.apply(lambda row: row['Two or More Races'] / row['Population Total'], axis=1)

In [8]:
demographics_df.head()

,FIPS Code,Population Total,White,Black,Native American,Asian,Pacific Islander,Other,Two or More Races,White %,Black %,Native American %,Asian %,Pacific Islander %,Other %,Two or More Races %
0,1001,55049,42311,10196,226,444,31,764,1077,0.768606,0.185217,0.004105,0.008066,0.000563,0.013879,0.019564
1,1003,199510,172441,18594,1355,1338,0,1766,4016,0.864323,0.093198,0.006792,0.006706,0.000000,0.008852,0.020129
2,1005,26614,12430,12756,46,129,0,1099,154,0.467047,0.479297,0.001728,0.004847,0.000000,0.041294,0.005786
3,1007,22572,17370,4788,81,14,0,8,311,0.769537,0.212121,0.003589,0.000620,0.000000,0.000354,0.013778
4,1009,57704,55073,905,201,92,0,501,932,0.954405,0.015683,0.003483,0.001594,0.000000,0.008682,0.016151

In [9]:
demographics_df.columns
demographics_df = demographics_df[['FIPS Code', 'Population Total', 'White %', 'Black %', 'Native American %', 'Asian %', 'Pacific Islander %', 'Other %', 'Two or More Races %']]
demographics_df.head()

,FIPS Code,Population Total,White %,Black %,Native American %,Asian %,Pacific Islander %,Other %,Two or More Races %
0,1001,55049,0.768606,0.185217,0.004105,0.008066,0.000563,0.013879,0.019564
1,1003,199510,0.864323,0.093198,0.006792,0.006706,0.000000,0.008852,0.020129
2,1005,26614,0.467047,0.479297,0.001728,0.004847,0.000000,0.041294,0.005786
3,1007,22572,0.769537,0.212121,0.003589,0.000620,0.000000,0.000354,0.013778
4,1009,57704,0.954405,0.015683,0.003483,0.001594,0.000000,0.008682,0.016151

In [10]:
diabetes_df.head(10)

,Indicator,State,FIPS_code,County,Year,Age,Sex,Estimate_type,Estimate,Standard_error,Lowerlimit,Upperlimit
0,Diagnosed diabetes incidence,Alabama,1001,Autauga County,2015,Age-adjusted,Total,"Rate per 1,000",12.6,2.2,8.9,17.3
1,Diagnosed diabetes incidence,Alabama,1001,Autauga County,2015,Crude,Total,Number,458.0,72.0,334.0,612.0
2,Diagnosed diabetes incidence,Alabama,1001,Autauga County,2015,Crude,Total,"Rate per 1,000",13.2,2.2,9.3,18.0
3,Diagnosed diabetes incidence,Alabama,1003,Baldwin County,2015,Age-adjusted,Total,"Rate per 1,000",8.4,1.1,6.4,10.8
4,Diagnosed diabetes incidence,Alabama,1003,Baldwin County,2015,Crude,Total,Number,1281.0,163.0,983.0,1628.0
5,Diagnosed diabetes incidence,Alabama,1003,Baldwin County,2015,Crude,Total,"Rate per 1,000",9.3,1.2,7.1,11.9
6,Diagnosed diabetes incidence,Alabama,1005,Barbour County,2015,Age-adjusted,Total,"Rate per 1,000",16.0,2.5,11.3,21.3
7,Diagnosed diabetes incidence,Alabama,1005,Barbour County,2015,Crude,Total,Number,277.0,38.0,205.0,356.0
8,Diagnosed diabetes incidence,Alabama,1005,Barbour County,2015,Crude,Total,"Rate per 1,000",16.5,2.5,11.8,21.7
9,Diagnosed diabetes incidence,Alabama,1007,Bibb County,2015,Age-adjusted,Total,"Rate per 1,000",13.4,2.4,9.1,18.5

In [11]:
# Our original data-set has crude-rates based off of an adjusted population size of 100,000.  This shouldn't be an issue, we will just bin everything accordingly, relation will still hold.
diabetes_df = diabetes_df[["FIPS_code", "State", "County", "Age", "Estimate_type", "Estimate"]]
diabetes_df.head()

   FIPS_code    State          County           Age   Estimate_type  Estimate
0       1001  Alabama  Autauga County  Age-adjusted  Rate per 1,000      12.6
1       1001  Alabama  Autauga County         Crude          Number     458.0
2       1001  Alabama  Autauga County         Crude  Rate per 1,000      13.2
3       1003  Alabama  Baldwin County  Age-adjusted  Rate per 1,000       8.4
4       1003  Alabama  Baldwin County         Crude          Number    1281.0

In [12]:
diabetes_df = diabetes_df[diabetes_df["Age"] == "Crude"]
diabetes_df = diabetes_df[diabetes_df["Estimate_type"] == "Rate per 1,000"]
diabetes_df = diabetes_df.reset_index(drop=True)
diabetes_df.head()

   FIPS_code    State          County    Age   Estimate_type  Estimate
0       1001  Alabama  Autauga County  Crude  Rate per 1,000      13.2
1       1003  Alabama  Baldwin County  Crude  Rate per 1,000       9.3
2       1005  Alabama  Barbour County  Crude  Rate per 1,000      16.5
3       1007  Alabama     Bibb County  Crude  Rate per 1,000      13.7
4       1009  Alabama   Blount County  Crude  Rate per 1,000      12.6

In [13]:
diabetes_df = diabetes_df.rename(columns={"Estimate" : "Estimated Rate Per 1,000"})
diabetes_df.head()

,FIPS_code,State,County,Age,Estimate_type,"Estimated Rate Per 1,000"
0,1001,Alabama,Autauga County,Crude,"Rate per 1,000",13.2
1,1003,Alabama,Baldwin County,Crude,"Rate per 1,000",9.3
2,1005,Alabama,Barbour County,Crude,"Rate per 1,000",16.5
3,1007,Alabama,Bibb County,Crude,"Rate per 1,000",13.7
4,1009,Alabama,Blount County,Crude,"Rate per 1,000",12.6

In [14]:
diabetes_df = diabetes_df[['FIPS_code', 'State', 'County', 'Estimated Rate Per 1,000']]
diabetes_df.head()

   FIPS_code    State          County  Estimated Rate Per 1,000
0       1001  Alabama  Autauga County                      13.2
1       1003  Alabama  Baldwin County                       9.3
2       1005  Alabama  Barbour County                      16.5
3       1007  Alabama     Bibb County                      13.7
4       1009  Alabama   Blount County                      12.6

In [15]:
smokers_df.head(10)

,state,county,sex,year,total_mean,total_lb,total_ub,daily_mean,daily_lb,daily_ub
0,Alabama,Autauga County,Males,1996,28.88,25.06,32.95,24.92,21.93,28.48
1,Alabama,Autauga County,Females,1996,24.91,20.34,30.01,20.48,16.26,25.66
2,Alabama,Autauga County,Both,1996,26.86,22.71,31.42,22.66,19.12,26.96
3,Alabama,Autauga County,Males,1997,29.01,25.48,32.61,24.74,21.81,28.25
4,Alabama,Autauga County,Females,1997,25.07,20.80,29.80,20.37,16.71,24.94
5,Alabama,Autauga County,Both,1997,27.01,23.05,31.14,22.52,19.38,26.37
6,Alabama,Autauga County,Males,1998,29.03,25.60,32.84,24.40,21.39,28.00
7,Alabama,Autauga County,Females,1998,25.07,20.94,29.71,20.22,17.05,24.31
8,Alabama,Autauga County,Both,1998,27.02,23.23,31.26,22.27,19.23,26.06
9,Alabama,Autauga County,Males,1999,28.81,25.35,32.54,23.45,20.50,26.93

In [16]:
smokers_df = smokers_df[smokers_df.sex=="Both"].reset_index(drop=True)
smokers_df.head()

,state,county,sex,year,total_mean,total_lb,total_ub,daily_mean,daily_lb,daily_ub
0,Alabama,Autauga County,Both,1996,26.86,22.71,31.42,22.66,19.12,26.96
1,Alabama,Autauga County,Both,1997,27.01,23.05,31.14,22.52,19.38,26.37
2,Alabama,Autauga County,Both,1998,27.02,23.23,31.26,22.27,19.23,26.06
3,Alabama,Autauga County,Both,1999,26.41,22.86,30.52,21.62,18.55,25.37
4,Alabama,Autauga County,Both,2000,25.98,22.34,30.11,21.21,18.11,24.97

In [17]:
smokers_df = smokers_df[['state', 'county', 'year', 'daily_mean']]
smokers_df.head()

     state          county  year  daily_mean
0  Alabama  Autauga County  1996       22.66
1  Alabama  Autauga County  1997       22.52
2  Alabama  Autauga County  1998       22.27
3  Alabama  Autauga County  1999       21.62
4  Alabama  Autauga County  2000       21.21

In [18]:
# Since our other data only includes years 2012-2016, deleting every row containing data for years besides 2012.
smokers_df = smokers_df[smokers_df.year==2012].reset_index(drop=True)
smokers_df.head()

     state          county  year  daily_mean
0  Alabama  Autauga County  2012       18.41
1  Alabama  Baldwin County  2012       16.02
2  Alabama  Barbour County  2012       18.73
3  Alabama     Bibb County  2012       22.62
4  Alabama   Blount County  2012       19.88

In [19]:
smokers_df = smokers_df.rename(columns={"daily_mean" : "% smoke daily"})
smokers_df.head()

     state          county  year  % smoke daily
0  Alabama  Autauga County  2012          18.41
1  Alabama  Baldwin County  2012          16.02
2  Alabama  Barbour County  2012          18.73
3  Alabama     Bibb County  2012          22.62
4  Alabama   Blount County  2012          19.88

In [20]:
# Merge smokers with diabetes, look at shape to see if there's a discrepancy in row # between the two, if there is, we'll resolve this.
print(smokers_df.shape)
print(diabetes_df.shape)
# this shows us there are at least 35 rows that will not wholy match up.

(3177, 4)
(3142, 4)

In [21]:
# Merge smokers with diabetes to get FIPS code, since we don't have corresponding FIPS code in smokers file.  Diabetes file is 
# formatted similarly in that it has both state "full name" and county name.
smokers_diabetes_df = pd.merge(diabetes_df, smokers_df, how='left', left_on=[diabetes_df.State, 'County'], right_on=[smokers_df.state, 'county'])
smokers_diabetes_df.head()
smokers_diabetes_df.to_csv("smokers_diabetes_combined_csv.csv")

In [22]:
#smokers_diabetes_df.head()
print(smokers_diabetes_df.shape)

(3142, 9)

In [23]:
smokers_diabetes_df = smokers_diabetes_df.dropna()
print(smokers_diabetes_df.shape)

(3076, 9)

In [24]:
smokers_diabetes_df.head()

,key_0,FIPS_code,State,County,"Estimated Rate Per 1,000",state,county,year,% smoke daily
0,Alabama,1001,Alabama,Autauga County,13.2,Alabama,Autauga County,2012.0,18.41
1,Alabama,1003,Alabama,Baldwin County,9.3,Alabama,Baldwin County,2012.0,16.02
2,Alabama,1005,Alabama,Barbour County,16.5,Alabama,Barbour County,2012.0,18.73
3,Alabama,1007,Alabama,Bibb County,13.7,Alabama,Bibb County,2012.0,22.62
4,Alabama,1009,Alabama,Blount County,12.6,Alabama,Blount County,2012.0,19.88

In [25]:
smokers_diabetes_df = smokers_diabetes_df[['FIPS_code', 'State', 'County', 'Estimated Rate Per 1,000', '% smoke daily']]
smokers_diabetes_df = smokers_diabetes_df.rename(columns={'Estimated Rate Per 1,000' : 'Estimated Diabetes Rate Per 1,000', '% smoke daily' : '% Daily Smokers'})

In [26]:
smokers_diabetes_df.head()

,FIPS_code,State,County,"Estimated Diabetes Rate Per 1,000",% Daily Smokers
0,1001,Alabama,Autauga County,13.2,18.41
1,1003,Alabama,Baldwin County,9.3,16.02
2,1005,Alabama,Barbour County,16.5,18.73
3,1007,Alabama,Bibb County,13.7,22.62
4,1009,Alabama,Blount County,12.6,19.88

In [27]:
fatty_df.head(10)

,Indicator,State,FIPS_code,County,Year,Age,Sex,Estimate_type,Estimate,Standard_error,Lowerlimit,Upperlimit
0,Obesity prevalence,Alabama,01 001,Autauga County,2015,Age-adjusted,Men,Percent,37.5,3.2,31.6,44.1
1,Obesity prevalence,Alabama,01 001,Autauga County,2015,Age-adjusted,Total,Percent,37.6,3.0,31.9,43.6
2,Obesity prevalence,Alabama,01 001,Autauga County,2015,Age-adjusted,Women,Percent,37.7,3.3,31.5,44.0
3,Obesity prevalence,Alabama,01 001,Autauga County,2015,Crude,Men,Number,7256.0,593.0,6138.0,8494.0
4,Obesity prevalence,Alabama,01 001,Autauga County,2015,Crude,Men,Percent,37.8,3.1,32.0,44.3
5,Obesity prevalence,Alabama,01 001,Autauga County,2015,Crude,Total,Number,15068.0,1147.0,12897.0,17345.0
6,Obesity prevalence,Alabama,01 001,Autauga County,2015,Crude,Total,Percent,37.5,2.9,32.1,43.2
7,Obesity prevalence,Alabama,01 001,Autauga County,2015,Crude,Women,Number,7811.0,650.0,6596.0,9075.0
8,Obesity prevalence,Alabama,01 001,Autauga County,2015,Crude,Women,Percent,37.3,3.1,31.5,43.3
9,Obesity prevalence,Alabama,01 003,Baldwin County,2015,Age-adjusted,Men,Percent,32.7,1.9,28.8,36.4

In [28]:
# Remove unnecessary rows, everything compared will be as crude-percentages against a normalized population size, so, we can remove a shit-load of these boyos
fatty_df = fatty_df[(fatty_df.Age=='Crude') & (fatty_df.Sex=='Total') & (fatty_df.Estimate_type=='Percent')].reset_index(drop=True)
fatty_df.head()

,Indicator,State,FIPS_code,County,Year,Age,Sex,Estimate_type,Estimate,Standard_error,Lowerlimit,Upperlimit
0,Obesity prevalence,Alabama,01 001,Autauga County,2015,Crude,Total,Percent,37.5,2.9,32.1,43.2
1,Obesity prevalence,Alabama,01 003,Baldwin County,2015,Crude,Total,Percent,31.0,1.5,28.1,33.9
2,Obesity prevalence,Alabama,01 005,Barbour County,2015,Crude,Total,Percent,44.3,3.1,38.4,50.1
3,Obesity prevalence,Alabama,01 007,Bibb County,2015,Crude,Total,Percent,37.8,3.4,31.2,44.4
4,Obesity prevalence,Alabama,01 009,Blount County,2015,Crude,Total,Percent,34.4,2.6,29.4,39.6

In [29]:
# Rename estimate to '% Obese', Remove unnecessary columns
fatty_df = fatty_df.rename(columns={'Estimate' : '% Population Obese'})

In [30]:
fatty_df = fatty_df[['State', 'County', '% Population Obese']]
fatty_df.head()

     State          County  % Population Obese
0  Alabama  Autauga County                37.5
1  Alabama  Baldwin County                31.0
2  Alabama  Barbour County                44.3
3  Alabama     Bibb County                37.8
4  Alabama   Blount County                34.4

In [31]:
# Merge obese table with diabetes_smokers table
smokers_diabetes_obesity_df = pd.merge(smokers_diabetes_df, fatty_df, how='left', left_on=[smokers_diabetes_df.State, 'County'], right_on=[fatty_df.State, 'County'])
smokers_diabetes_obesity_df.head()

,key_0,FIPS_code,State_x,County,"Estimated Diabetes Rate Per 1,000",% Daily Smokers,State_y,% Population Obese
0,Alabama,1001,Alabama,Autauga County,13.2,18.41,Alabama,37.5
1,Alabama,1003,Alabama,Baldwin County,9.3,16.02,Alabama,31.0
2,Alabama,1005,Alabama,Barbour County,16.5,18.73,Alabama,44.3
3,Alabama,1007,Alabama,Bibb County,13.7,22.62,Alabama,37.8
4,Alabama,1009,Alabama,Blount County,12.6,19.88,Alabama,34.4

In [32]:
smokers_diabetes_obesity_df = smokers_diabetes_obesity_df[['FIPS_code', 'State_x', 'County', 'Estimated Diabetes Rate Per 1,000', '% Daily Smokers', '% Population Obese']]
smokers_diabetes_obesity_df = smokers_diabetes_obesity_df.rename(columns={'State_x' : 'State', 'FIPS_code' : 'FIPS Code'})

In [33]:
smokers_diabetes_obesity_df = smokers_diabetes_obesity_df.dropna().reset_index(drop=True)
smokers_diabetes_obesity_df.head()

,FIPS Code,State,County,"Estimated Diabetes Rate Per 1,000",% Daily Smokers,% Population Obese
0,1001,Alabama,Autauga County,13.2,18.41,37.5
1,1003,Alabama,Baldwin County,9.3,16.02,31.0
2,1005,Alabama,Barbour County,16.5,18.73,44.3
3,1007,Alabama,Bibb County,13.7,22.62,37.8
4,1009,Alabama,Blount County,12.6,19.88,34.4

In [34]:
# Now, merge smokers-diabetus-fatty table with race table
print(demographics_df.shape)
print(smokers_diabetes_obesity_df.shape)
print(first_data_file_df.shape)

(3142, 9)
(3076, 6)
(2653, 13)

In [35]:
smokers_diabetes_obesity_race_df = demographics_df.merge(smokers_diabetes_obesity_df, how="inner", on="FIPS Code")
smokers_diabetes_obesity_race_df.head()

,FIPS Code,Population Total,White %,Black %,Native American %,Asian %,Pacific Islander %,Other %,Two or More Races %,State,County,"Estimated Diabetes Rate Per 1,000",% Daily Smokers,% Population Obese
0,1001,55049,0.768606,0.185217,0.004105,0.008066,0.000563,0.013879,0.019564,Alabama,Autauga County,13.2,18.41,37.5
1,1003,199510,0.864323,0.093198,0.006792,0.006706,0.000000,0.008852,0.020129,Alabama,Baldwin County,9.3,16.02,31.0
2,1005,26614,0.467047,0.479297,0.001728,0.004847,0.000000,0.041294,0.005786,Alabama,Barbour County,16.5,18.73,44.3
3,1007,22572,0.769537,0.212121,0.003589,0.000620,0.000000,0.000354,0.013778,Alabama,Bibb County,13.7,22.62,37.8
4,1009,57704,0.954405,0.015683,0.003483,0.001594,0.000000,0.008682,0.016151,Alabama,Blount County,12.6,19.88,34.4

In [36]:
# Need to change the % of Race to *100, so that it is in-line with diabetes, obesity and smoking rate.
smokers_diabetes_obesity_race_df['% White'] = smokers_diabetes_obesity_race_df.apply(lambda row: row['White %'] * 100, axis=1)
smokers_diabetes_obesity_race_df['% Black'] = smokers_diabetes_obesity_race_df.apply(lambda row: row['Black %'] * 100, axis=1)
smokers_diabetes_obesity_race_df['% Native American'] = smokers_diabetes_obesity_race_df.apply(lambda row: row['Native American %'] * 100, axis=1)
smokers_diabetes_obesity_race_df['% Asian'] = smokers_diabetes_obesity_race_df.apply(lambda row: row['Asian %'] * 100, axis=1)
smokers_diabetes_obesity_race_df['% Pacific Islander'] = smokers_diabetes_obesity_race_df.apply(lambda row: row['Pacific Islander %'] * 100, axis=1)
smokers_diabetes_obesity_race_df['% Other'] = smokers_diabetes_obesity_race_df.apply(lambda row: row['Other %'] * 100, axis=1)
smokers_diabetes_obesity_race_df['% Two or More Races'] = smokers_diabetes_obesity_race_df.apply(lambda row: row['Two or More Races %'] * 100, axis=1)
smokers_diabetes_obesity_race_df.head()

,FIPS Code,Population Total,White %,Black %,Native American %,Asian %,Pacific Islander %,Other %,Two or More Races %,State,...,"Estimated Diabetes Rate Per 1,000",% Daily Smokers,% Population Obese,% White,% Black,% Native American,% Asian,% Pacific Islander,% Other,% Two or More Races
0,1001,55049,0.768606,0.185217,0.004105,0.008066,0.000563,0.013879,0.019564,Alabama,...,13.2,18.41,37.5,76.860615,18.521681,0.410543,0.806554,0.056313,1.387854,1.956439
1,1003,199510,0.864323,0.093198,0.006792,0.006706,0.000000,0.008852,0.020129,Alabama,...,9.3,16.02,31.0,86.432259,9.319834,0.679164,0.670643,0.000000,0.885169,2.012932
2,1005,26614,0.467047,0.479297,0.001728,0.004847,0.000000,0.041294,0.005786,Alabama,...,16.5,18.73,44.3,46.704742,47.929661,0.172841,0.484707,0.000000,4.129406,0.578643
3,1007,22572,0.769537,0.212121,0.003589,0.000620,0.000000,0.000354,0.013778,Alabama,...,13.7,22.62,37.8,76.953748,21.212121,0.358852,0.062024,0.000000,0.035442,1.377813
4,1009,57704,0.954405,0.015683,0.003483,0.001594,0.000000,0.008682,0.016151,Alabama,...,12.6,19.88,34.4,95.440524,1.568349,0.348329,0.159434,0.000000,0.868224,1.615139

In [37]:
# smokers_diabetes_obesity_race_df.columns
smokers_diabetes_obesity_race_df = smokers_diabetes_obesity_race_df[['FIPS Code','State', 'County', 'Population Total','% White', '% Black', '% Native American',
       '% Asian', '% Pacific Islander', '% Other', '% Two or More Races', 
       'Estimated Diabetes Rate Per 1,000', '% Daily Smokers',
       '% Population Obese']].dropna().reset_index(drop=True)
smokers_diabetes_obesity_race_df.head()

,FIPS Code,State,County,Population Total,% White,% Black,% Native American,% Asian,% Pacific Islander,% Other,% Two or More Races,"Estimated Diabetes Rate Per 1,000",% Daily Smokers,% Population Obese
0,1001,Alabama,Autauga County,55049,76.860615,18.521681,0.410543,0.806554,0.056313,1.387854,1.956439,13.2,18.41,37.5
1,1003,Alabama,Baldwin County,199510,86.432259,9.319834,0.679164,0.670643,0.000000,0.885169,2.012932,9.3,16.02,31.0
2,1005,Alabama,Barbour County,26614,46.704742,47.929661,0.172841,0.484707,0.000000,4.129406,0.578643,16.5,18.73,44.3
3,1007,Alabama,Bibb County,22572,76.953748,21.212121,0.358852,0.062024,0.000000,0.035442,1.377813,13.7,22.62,37.8
4,1009,Alabama,Blount County,57704,95.440524,1.568349,0.348329,0.159434,0.000000,0.868224,1.615139,12.6,19.88,34.4

In [38]:
first_data_file_df = first_data_file_df.rename(columns={'County Code' : 'FIPS Code'})
first_data_file_df.columns

Index(['FIPS Code', 'County', 'Population', 'Deaths', 'Crude Rate',
       'Median Household Income ($)', '% <High School', '% High School',
       '% Associate', '% >Bachelor', 'MYS', 'Education Level', 'Income Level'],
      dtype='object')

In [39]:
all_data_current_df = first_data_file_df.merge(smokers_diabetes_obesity_race_df, how="inner", on="FIPS Code").dropna().reset_index(drop=True)
all_data_current_df.head()

,FIPS Code,County_x,Population,Deaths,Crude Rate,Median Household Income ($),% <High School,% High School,% Associate,% >Bachelor,...,% White,% Black,% Native American,% Asian,% Pacific Islander,% Other,% Two or More Races,"Estimated Diabetes Rate Per 1,000",% Daily Smokers,% Population Obese
0,1001,"Autauga County, AL",144568.0,188.0,130.0,53748,12.4,34.3,28.7,24.6,...,76.860615,18.521681,0.410543,0.806554,0.056313,1.387854,1.956439,13.2,18.41,37.5
1,1003,"Baldwin County, AL",514161.0,581.0,113.0,50976,10.0,28.7,31.8,29.5,...,86.432259,9.319834,0.679164,0.670643,0.000000,0.885169,2.012932,9.3,16.02,31.0
2,1005,"Barbour County, AL",71488.0,118.0,165.1,32111,26.2,34.9,26.0,12.9,...,46.704742,47.929661,0.172841,0.484707,0.000000,4.129406,0.578643,16.5,18.73,44.3
3,1007,"Bibb County, AL",62810.0,123.0,195.8,40113,19.3,41.8,26.9,12.0,...,76.953748,21.212121,0.358852,0.062024,0.000000,0.035442,1.377813,13.7,22.62,37.8
4,1009,"Blount County, AL",148438.0,194.0,130.7,46377,20.0,32.9,34.0,13.1,...,95.440524,1.568349,0.348329,0.159434,0.000000,0.868224,1.615139,12.6,19.88,34.4

In [42]:
all_data_current_df = all_data_current_df.rename(columns={'County_x' : 'County, State'})
all_data_current_df.head()

,FIPS Code,"County, State",Population,Deaths,Crude Rate,Median Household Income ($),% <High School,% High School,% Associate,% >Bachelor,...,% White,% Black,% Native American,% Asian,% Pacific Islander,% Other,% Two or More Races,"Estimated Diabetes Rate Per 1,000",% Daily Smokers,% Population Obese
0,1001,"Autauga County, AL",144568.0,188.0,130.0,53748,12.4,34.3,28.7,24.6,...,76.860615,18.521681,0.410543,0.806554,0.056313,1.387854,1.956439,13.2,18.41,37.5
1,1003,"Baldwin County, AL",514161.0,581.0,113.0,50976,10.0,28.7,31.8,29.5,...,86.432259,9.319834,0.679164,0.670643,0.000000,0.885169,2.012932,9.3,16.02,31.0
2,1005,"Barbour County, AL",71488.0,118.0,165.1,32111,26.2,34.9,26.0,12.9,...,46.704742,47.929661,0.172841,0.484707,0.000000,4.129406,0.578643,16.5,18.73,44.3
3,1007,"Bibb County, AL",62810.0,123.0,195.8,40113,19.3,41.8,26.9,12.0,...,76.953748,21.212121,0.358852,0.062024,0.000000,0.035442,1.377813,13.7,22.62,37.8
4,1009,"Blount County, AL",148438.0,194.0,130.7,46377,20.0,32.9,34.0,13.1,...,95.440524,1.568349,0.348329,0.159434,0.000000,0.868224,1.615139,12.6,19.88,34.4

In [43]:
all_data_current_df.to_csv('SuperP_Group_Current_Working_Dataset.csv')